@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import './base.css';

/* Tell PrimeVue and all your app to use it */
:root {
    --font-family: 'Rubik', sans-serif;
    --branding-color : #024;
}

body {
    font-family: var(--font-family), serif;
    font-weight: 300; /* optional, since you only imported weight 300 */
    margin: 1em;
}